{"T0": "$temp_init", 
"t_env": "$t_env",
"w_room": "$roomWidth",
"h_room": "$roomHeight",
"l_room": "$roomLength",
"w_short": "$shortWallWidth",
"d_wall": "$wallThickness",
"w_window": "$windowWidth",
"h_window": "$windowHeight",
"w_door": "$doorWidth",
"h_door": "$doorHeight",
"d_door": "$doorThickness",
"b_air": "$airGapThickness",
"b_glass": "$glassThickness",
"heaterPower": "$Qheater",
"out_file": "$out_file"}
